<div id="logo">
	<ul>
	<li id="name"><a href="/">{{:R }}</a></li>
	<li id="blog"><a href="/articles/index">Blog</a></li>
	<li id="projects"><a href="/welcome/index">Projects</a></li>
	<li id="contact">Contact</li>
	</ul>
</div>