<div id="about">
	<h4>About</h4>

	<p><strong>Ryan Pauley</strong> is a <em>full stack web developer</em> based in Australia. Originally from California, I have lived in Japan and Texas before landing in Canberra. – I did it for the roos.</p>

	<h5>Training</h5>

	<p>I am an alumn of <a href="https://generalassemb.ly/education?format=immersives&where=sydney">General Assembly:Sydney's</a> <a href="https://generalassemb.ly/education/web-development-immersive">Web Development Immersive Course</a>. Trained in web technologies like Git, Ruby, Rails, Javascript, Node.js, Backbone.js, Python, I can bring projects to life at the drop of a hat.</p>

	<h5>Projects</h5>

	Be sure to check out the projects!
</div>